body {
  font-family: Arial, sans-serif;
  background-color: #dee2ff;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #8e9aaf;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  display: block;
  margin: 10px;
  margin-bottom: 0;
  background-color: #8e9aaf;
  color: #fff;
  border: 1px solid #8e9aaf;
  border-radius: 5px;
  cursor: pointer;
}

a {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  color: #8e9aaf;
}

a:hover {
  text-decoration: underline;
}
