body {
  font-family: Arial, sans-serif;
  background-color: #dee2ff;
  padding: 50px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #8e9aaf;
  border-radius: 5px;
}

select,
button {
  margin-bottom: 10px;

  border: 1px solid #8e9aaf;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

button {
  margin-bottom: 10px;
  background-color: #8e9aaf;
  color: #fff;
}

button:hover {
  background-color: #8e9aaf;
}

#translatedText {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #8e9aaf;
  border-radius: 5px;
  background-color: #fff;
}

a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #8e9aaf;
}

a:hover {
  text-decoration: underline;
}
